body {
   /* .background_design   
    */
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: url('../Resimler/Back-21.png');
    background-size: auto;
   /* width: fit-content;
    height: fit-content;*/
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-position: center;
    background-size: 1920px*1080px;
     
    .menu_resim_icerik
{
    width: 5px;
    height: 5px;
    display: inline-block;
    margin-right: 30px;
}

#ust_bar {
    position: sticky;
    top: 0;
    border: 1px solid black;
    background-color: black;
    text-align: center;
    color: white;
    
}
    
}
